@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-aiv-VDsdoLKX: 1140px;
  --plasmic-token-content-max-width: var(--token-aiv-VDsdoLKX);
  --token-BvxMnaplg-NI: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-BvxMnaplg-NI);
  --token-DagGW37bKqWK: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-DagGW37bKqWK);
  --token-jBafUSMa1Rja: #92959bd9;
  --plasmic-token-light-label: var(--token-jBafUSMa1Rja);
  --token-e6jfg3OnZDK0: #05050599;
  --plasmic-token-light-secondary: var(--token-e6jfg3OnZDK0);
  --token-AxzDbkAeySgG: #007aff;
  --plasmic-token-light-blue: var(--token-AxzDbkAeySgG);
  --token-5Ue5zkWlT5ZU: #ff3b30;
  --plasmic-token-light-red: var(--token-5Ue5zkWlT5ZU);
  --token-yspOi4R2YL9f: #ffffff;
  --plasmic-token-white: var(--token-yspOi4R2YL9f);
  --token-YVedunETWVQ4: #ffffffd9;
  --plasmic-token-dark-label: var(--token-YVedunETWVQ4);
  --token-DXYr6YzPAXCx: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-DXYr6YzPAXCx);
  --token-_nkOIk2FdVO6: #0000001a;
  --plasmic-token-light-quarternary: var(--token-_nkOIk2FdVO6);
  --token-0hMBO_4FQbJe: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-0hMBO_4FQbJe);
  --token-1vC6Dr5pByns: #32d74b;
  --plasmic-token-dark-green: var(--token-1vC6Dr5pByns);
  --token-fWGyklh_e1bF: #0a84ff;
  --plasmic-token-dark-blue: var(--token-fWGyklh_e1bF);
  --token-3FDawnd3M-hK: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-3FDawnd3M-hK);
  --token-0Yri13jMKrlN: #34c759;
  --plasmic-token-light-green: var(--token-0Yri13jMKrlN);
  --token-CCNuQe42hPru: #5856d6;
  --plasmic-token-light-indigo: var(--token-CCNuQe42hPru);
  --token-fBmIxUGL3T9S: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-fBmIxUGL3T9S);
  --token-fBmIxUGL3T9S: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-fBmIxUGL3T9S);
  --token-YQ5v9Z0WOFbV: 1240px;
  --plasmic-token-max-width-navbar: var(--token-YQ5v9Z0WOFbV);
  --token-YQ5v9Z0WOFbV: 1240px;
  --plasmic-token-max-width-navbar: var(--token-YQ5v9Z0WOFbV);
  --token-26lM4MpSTKEO: var(--token-ZRMm6V390nmX);
  --plasmic-token-unnamed-style-token-2: var(--token-26lM4MpSTKEO);
  --token-26lM4MpSTKEO: var(--token-ZRMm6V390nmX);
  --plasmic-token-unnamed-style-token-2: var(--token-26lM4MpSTKEO);
  --token-ZRMm6V390nmX: #eeeeee80;
  --plasmic-token-grey: var(--token-ZRMm6V390nmX);
  --token-ZRMm6V390nmX: #eeeeee80;
  --plasmic-token-grey: var(--token-ZRMm6V390nmX);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-dwP7mpTxScg2_font-family: "Montserrat", sans-serif;
  --mixin-dwP7mpTxScg2_font-size: 24px;
  --mixin-dwP7mpTxScg2_font-weight: 500;
  --mixin-dwP7mpTxScg2_font-style: normal;
  --mixin-dwP7mpTxScg2_color: #00000080;
  --mixin-dwP7mpTxScg2_text-align: left;
  --mixin-dwP7mpTxScg2_text-transform: none;
  --mixin-dwP7mpTxScg2_line-height: 1.5;
  --mixin-dwP7mpTxScg2_letter-spacing: normal;
  --mixin-dwP7mpTxScg2_white-space: pre-wrap;
  --mixin-dwP7mpTxScg2_user-select: text;
  --mixin-dwP7mpTxScg2_text-decoration-line: none;
  --mixin-dwP7mpTxScg2_text-overflow: clip;
  --mixin-4EUgPCXv291S_white-space: pre-wrap;
  --mixin-_jsBwHkZpI6S_font-family: "Montserrat", sans-serif;
  --mixin-_jsBwHkZpI6S_color: #ffffff;
  --mixin-_jsBwHkZpI6S_font-size: 72px;
  --mixin-_jsBwHkZpI6S_font-weight: 700;
  --mixin-_jsBwHkZpI6S_line-height: 88px;
  --mixin-_jsBwHkZpI6S_white-space: pre-wrap;
  --mixin-91Te_WSQlCIy_font-family: "Inter", sans-serif;
  --mixin-91Te_WSQlCIy_color: #000000;
  --mixin-91Te_WSQlCIy_font-size: 36px;
  --mixin-91Te_WSQlCIy_font-weight: 700;
  --mixin-91Te_WSQlCIy_line-height: 43px;
  --mixin-91Te_WSQlCIy_text-align: center;
  --mixin-91Te_WSQlCIy_white-space: pre-wrap;
  --mixin-tstIP1rsRmaw_font-family: "Inter", sans-serif;
  --mixin-tstIP1rsRmaw_color: #000000;
  --mixin-tstIP1rsRmaw_font-size: 24px;
  --mixin-tstIP1rsRmaw_font-weight: 600;
  --mixin-tstIP1rsRmaw_letter-spacing: -0.5px;
  --mixin-tstIP1rsRmaw_line-height: 1.3;
  --mixin-tstIP1rsRmaw_white-space: pre-wrap;
  --mixin-7eNJe7ZHw2FD_font-family: "Montserrat", sans-serif;
  --mixin-7eNJe7ZHw2FD_color: #185adb;
  --mixin-7eNJe7ZHw2FD_font-size: 24px;
  --mixin-7eNJe7ZHw2FD_font-weight: 700;
  --mixin-7eNJe7ZHw2FD_line-height: 29px;
  --mixin-7eNJe7ZHw2FD_text-align: center;
  --mixin-7eNJe7ZHw2FD_white-space: pre-wrap;
  --mixin-asleKhZm1qnz_font-family: "Inter", sans-serif;
  --mixin-asleKhZm1qnz_color: #000000;
  --mixin-asleKhZm1qnz_font-size: 16px;
  --mixin-asleKhZm1qnz_font-weight: 600;
  --mixin-asleKhZm1qnz_line-height: 1.5;
  --mixin-asleKhZm1qnz_white-space: pre-wrap;
  --mixin-5vy7bTv3IYMF_border-left-color: #dddddd;
  --mixin-5vy7bTv3IYMF_border-left-style: solid;
  --mixin-5vy7bTv3IYMF_border-left-width: 3px;
  --mixin-5vy7bTv3IYMF_color: #888888;
  --mixin-5vy7bTv3IYMF_padding-left: 10px;
  --mixin-5vy7bTv3IYMF_white-space: pre-wrap;
  --mixin-yOWDFyzii0eT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yOWDFyzii0eT_border-bottom-color: #dddddd;
  --mixin-yOWDFyzii0eT_border-bottom-style: solid;
  --mixin-yOWDFyzii0eT_border-bottom-width: 1px;
  --mixin-yOWDFyzii0eT_border-left-color: #dddddd;
  --mixin-yOWDFyzii0eT_border-left-style: solid;
  --mixin-yOWDFyzii0eT_border-left-width: 1px;
  --mixin-yOWDFyzii0eT_border-right-color: #dddddd;
  --mixin-yOWDFyzii0eT_border-right-style: solid;
  --mixin-yOWDFyzii0eT_border-right-width: 1px;
  --mixin-yOWDFyzii0eT_border-top-color: #dddddd;
  --mixin-yOWDFyzii0eT_border-top-style: solid;
  --mixin-yOWDFyzii0eT_border-top-width: 1px;
  --mixin-yOWDFyzii0eT_border-bottom-left-radius: 3px;
  --mixin-yOWDFyzii0eT_border-bottom-right-radius: 3px;
  --mixin-yOWDFyzii0eT_border-top-left-radius: 3px;
  --mixin-yOWDFyzii0eT_border-top-right-radius: 3px;
  --mixin-yOWDFyzii0eT_font-family: "Inconsolata";
  --mixin-yOWDFyzii0eT_padding-bottom: 1px;
  --mixin-yOWDFyzii0eT_padding-left: 4px;
  --mixin-yOWDFyzii0eT_padding-right: 4px;
  --mixin-yOWDFyzii0eT_padding-top: 1px;
  --mixin-yOWDFyzii0eT_white-space: pre-wrap;
  --mixin-UfVI7VsTLWgv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UfVI7VsTLWgv_border-bottom-color: #dddddd;
  --mixin-UfVI7VsTLWgv_border-bottom-style: solid;
  --mixin-UfVI7VsTLWgv_border-bottom-width: 1px;
  --mixin-UfVI7VsTLWgv_border-left-color: #dddddd;
  --mixin-UfVI7VsTLWgv_border-left-style: solid;
  --mixin-UfVI7VsTLWgv_border-left-width: 1px;
  --mixin-UfVI7VsTLWgv_border-right-color: #dddddd;
  --mixin-UfVI7VsTLWgv_border-right-style: solid;
  --mixin-UfVI7VsTLWgv_border-right-width: 1px;
  --mixin-UfVI7VsTLWgv_border-top-color: #dddddd;
  --mixin-UfVI7VsTLWgv_border-top-style: solid;
  --mixin-UfVI7VsTLWgv_border-top-width: 1px;
  --mixin-UfVI7VsTLWgv_border-bottom-left-radius: 3px;
  --mixin-UfVI7VsTLWgv_border-bottom-right-radius: 3px;
  --mixin-UfVI7VsTLWgv_border-top-left-radius: 3px;
  --mixin-UfVI7VsTLWgv_border-top-right-radius: 3px;
  --mixin-UfVI7VsTLWgv_font-family: "Inconsolata";
  --mixin-UfVI7VsTLWgv_padding-bottom: 3px;
  --mixin-UfVI7VsTLWgv_padding-left: 6px;
  --mixin-UfVI7VsTLWgv_padding-right: 6px;
  --mixin-UfVI7VsTLWgv_padding-top: 3px;
  --mixin-UfVI7VsTLWgv_white-space: pre-wrap;
  --mixin-e7gDFjf-JbLO_display: flex;
  --mixin-e7gDFjf-JbLO_flex-direction: column;
  --mixin-e7gDFjf-JbLO_align-items: stretch;
  --mixin-e7gDFjf-JbLO_justify-content: flex-start;
  --mixin-e7gDFjf-JbLO_list-style-position: outside;
  --mixin-e7gDFjf-JbLO_padding-left: 40px;
  --mixin-e7gDFjf-JbLO_position: relative;
  --mixin-e7gDFjf-JbLO_list-style-type: decimal;
  --mixin-e7gDFjf-JbLO_white-space: pre-wrap;
  --mixin-2C3WUdUmQOBY_display: flex;
  --mixin-2C3WUdUmQOBY_flex-direction: column;
  --mixin-2C3WUdUmQOBY_align-items: stretch;
  --mixin-2C3WUdUmQOBY_justify-content: flex-start;
  --mixin-2C3WUdUmQOBY_list-style-position: outside;
  --mixin-2C3WUdUmQOBY_padding-left: 40px;
  --mixin-2C3WUdUmQOBY_position: relative;
  --mixin-2C3WUdUmQOBY_list-style-type: disc;
  --mixin-2C3WUdUmQOBY_white-space: pre-wrap;
  --mixin-MYNn9E6dA9mj_color: #000000;
  --mixin-MYNn9E6dA9mj_font-family: "Montserrat", sans-serif;
  --mixin-MYNn9E6dA9mj_font-size: 64px;
  --mixin-MYNn9E6dA9mj_font-weight: 700;
  --mixin-MYNn9E6dA9mj_line-height: 78px;
  --mixin-MYNn9E6dA9mj_text-align: center;
  --mixin-MYNn9E6dA9mj_white-space: pre-wrap;
  --mixin-2aUWuEPpJU4T_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-dwP7mpTxScg2_font-size: 16px;
    --mixin-dwP7mpTxScg2_line-height: 27px;
    --mixin-dwP7mpTxScg2_white-space: pre-wrap;
    --mixin-_jsBwHkZpI6S_font-size: 40px;
    --mixin-_jsBwHkZpI6S_line-height: 48px;
    --mixin-_jsBwHkZpI6S_white-space: pre-wrap;
    --mixin-MYNn9E6dA9mj_font-size: 28px;
    --mixin-MYNn9E6dA9mj_line-height: 34px;
    --mixin-MYNn9E6dA9mj_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-csd61HPAh5n4_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-csd61HPAh5n4_white-space);
  --mixin-lVZumzvtDfiV_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-lVZumzvtDfiV_box-shadow
  );
  --mixin-lVZumzvtDfiV_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-lVZumzvtDfiV_white-space
  );
  --mixin-XSll6CmiSIkr_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-XSll6CmiSIkr_white-space);
  --mixin-GM-mdyxDExJK_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-GM-mdyxDExJK_white-space
  );
  --mixin-8CIQJphPDRT9_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-8CIQJphPDRT9_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-dwP7mpTxScg2_font-family);
  font-size: var(--mixin-dwP7mpTxScg2_font-size);
  font-weight: var(--mixin-dwP7mpTxScg2_font-weight);
  font-style: var(--mixin-dwP7mpTxScg2_font-style);
  color: var(--mixin-dwP7mpTxScg2_color);
  text-align: var(--mixin-dwP7mpTxScg2_text-align);
  text-transform: var(--mixin-dwP7mpTxScg2_text-transform);
  line-height: var(--mixin-dwP7mpTxScg2_line-height);
  letter-spacing: var(--mixin-dwP7mpTxScg2_letter-spacing);
  white-space: var(--mixin-dwP7mpTxScg2_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-_jsBwHkZpI6S_font-family);
  color: var(--mixin-_jsBwHkZpI6S_color);
  font-size: var(--mixin-_jsBwHkZpI6S_font-size);
  font-weight: var(--mixin-_jsBwHkZpI6S_font-weight);
  line-height: var(--mixin-_jsBwHkZpI6S_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-91Te_WSQlCIy_font-family);
  color: var(--mixin-91Te_WSQlCIy_color);
  font-size: var(--mixin-91Te_WSQlCIy_font-size);
  font-weight: var(--mixin-91Te_WSQlCIy_font-weight);
  line-height: var(--mixin-91Te_WSQlCIy_line-height);
  text-align: var(--mixin-91Te_WSQlCIy_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-tstIP1rsRmaw_font-family);
  color: var(--mixin-tstIP1rsRmaw_color);
  font-size: var(--mixin-tstIP1rsRmaw_font-size);
  font-weight: var(--mixin-tstIP1rsRmaw_font-weight);
  letter-spacing: var(--mixin-tstIP1rsRmaw_letter-spacing);
  line-height: var(--mixin-tstIP1rsRmaw_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-7eNJe7ZHw2FD_font-family);
  color: var(--mixin-7eNJe7ZHw2FD_color);
  font-size: var(--mixin-7eNJe7ZHw2FD_font-size);
  font-weight: var(--mixin-7eNJe7ZHw2FD_font-weight);
  line-height: var(--mixin-7eNJe7ZHw2FD_line-height);
  text-align: var(--mixin-7eNJe7ZHw2FD_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-asleKhZm1qnz_font-family);
  color: var(--mixin-asleKhZm1qnz_color);
  font-size: var(--mixin-asleKhZm1qnz_font-size);
  font-weight: var(--mixin-asleKhZm1qnz_font-weight);
  line-height: var(--mixin-asleKhZm1qnz_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5vy7bTv3IYMF_color);
  padding-left: var(--mixin-5vy7bTv3IYMF_padding-left);
  border-left: var(--mixin-5vy7bTv3IYMF_border-left-width)
    var(--mixin-5vy7bTv3IYMF_border-left-style)
    var(--mixin-5vy7bTv3IYMF_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-yOWDFyzii0eT_font-family);
  border-radius: var(--mixin-yOWDFyzii0eT_border-top-left-radius)
    var(--mixin-yOWDFyzii0eT_border-top-right-radius)
    var(--mixin-yOWDFyzii0eT_border-bottom-right-radius)
    var(--mixin-yOWDFyzii0eT_border-bottom-left-radius);
  padding: var(--mixin-yOWDFyzii0eT_padding-top)
    var(--mixin-yOWDFyzii0eT_padding-right)
    var(--mixin-yOWDFyzii0eT_padding-bottom)
    var(--mixin-yOWDFyzii0eT_padding-left);
  border-top: var(--mixin-yOWDFyzii0eT_border-top-width)
    var(--mixin-yOWDFyzii0eT_border-top-style)
    var(--mixin-yOWDFyzii0eT_border-top-color);
  border-right: var(--mixin-yOWDFyzii0eT_border-right-width)
    var(--mixin-yOWDFyzii0eT_border-right-style)
    var(--mixin-yOWDFyzii0eT_border-right-color);
  border-bottom: var(--mixin-yOWDFyzii0eT_border-bottom-width)
    var(--mixin-yOWDFyzii0eT_border-bottom-style)
    var(--mixin-yOWDFyzii0eT_border-bottom-color);
  border-left: var(--mixin-yOWDFyzii0eT_border-left-width)
    var(--mixin-yOWDFyzii0eT_border-left-style)
    var(--mixin-yOWDFyzii0eT_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UfVI7VsTLWgv_font-family);
  border-radius: var(--mixin-UfVI7VsTLWgv_border-top-left-radius)
    var(--mixin-UfVI7VsTLWgv_border-top-right-radius)
    var(--mixin-UfVI7VsTLWgv_border-bottom-right-radius)
    var(--mixin-UfVI7VsTLWgv_border-bottom-left-radius);
  padding: var(--mixin-UfVI7VsTLWgv_padding-top)
    var(--mixin-UfVI7VsTLWgv_padding-right)
    var(--mixin-UfVI7VsTLWgv_padding-bottom)
    var(--mixin-UfVI7VsTLWgv_padding-left);
  border-top: var(--mixin-UfVI7VsTLWgv_border-top-width)
    var(--mixin-UfVI7VsTLWgv_border-top-style)
    var(--mixin-UfVI7VsTLWgv_border-top-color);
  border-right: var(--mixin-UfVI7VsTLWgv_border-right-width)
    var(--mixin-UfVI7VsTLWgv_border-right-style)
    var(--mixin-UfVI7VsTLWgv_border-right-color);
  border-bottom: var(--mixin-UfVI7VsTLWgv_border-bottom-width)
    var(--mixin-UfVI7VsTLWgv_border-bottom-style)
    var(--mixin-UfVI7VsTLWgv_border-bottom-color);
  border-left: var(--mixin-UfVI7VsTLWgv_border-left-width)
    var(--mixin-UfVI7VsTLWgv_border-left-style)
    var(--mixin-UfVI7VsTLWgv_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-e7gDFjf-JbLO_display);
  flex-direction: var(--mixin-e7gDFjf-JbLO_flex-direction);
  align-items: var(--mixin-e7gDFjf-JbLO_align-items);
  justify-content: var(--mixin-e7gDFjf-JbLO_justify-content);
  list-style-position: var(--mixin-e7gDFjf-JbLO_list-style-position);
  padding-left: var(--mixin-e7gDFjf-JbLO_padding-left);
  position: var(--mixin-e7gDFjf-JbLO_position);
  list-style-type: var(--mixin-e7gDFjf-JbLO_list-style-type);
  flex-column-gap: var(--mixin-e7gDFjf-JbLO_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-2C3WUdUmQOBY_display);
  flex-direction: var(--mixin-2C3WUdUmQOBY_flex-direction);
  align-items: var(--mixin-2C3WUdUmQOBY_align-items);
  justify-content: var(--mixin-2C3WUdUmQOBY_justify-content);
  list-style-position: var(--mixin-2C3WUdUmQOBY_list-style-position);
  padding-left: var(--mixin-2C3WUdUmQOBY_padding-left);
  position: var(--mixin-2C3WUdUmQOBY_position);
  list-style-type: var(--mixin-2C3WUdUmQOBY_list-style-type);
  flex-column-gap: var(--mixin-2C3WUdUmQOBY_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-MYNn9E6dA9mj_color);
  font-family: var(--mixin-MYNn9E6dA9mj_font-family);
  font-size: var(--mixin-MYNn9E6dA9mj_font-size);
  font-weight: var(--mixin-MYNn9E6dA9mj_font-weight);
  line-height: var(--mixin-MYNn9E6dA9mj_line-height);
  text-align: var(--mixin-MYNn9E6dA9mj_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
